Repository cerner/terra-application, pull requests merged in 2020-08, with the labels that each got.

#70 Fix ApplicationStatusOverlayProvider contextType warning
  CHANGELOG.md
  src/application-status-overlay/ApplicationStatusOverlayProvider.jsx
Labels: :package: terra-application, bug-fix

#76 Consume Latest Notification Dialog and Navigation Prompt Versions
  CHANGELOG.md
  package.json
  src/navigation-prompt/getUnsavedChangesPromptOptions.jsx
  tests/jest/navigation-prompt/__snapshots__/getUnsavedChangesPromptOptions.test.jsx.snap
  tests/wdio/application-navigation/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-navigation-spec/Prompts_Enabled[1__primary_navigation_item_prompt].png
  tests/wdio/application-navigation/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-navigation-spec/Prompts_Enabled[4__primary_navigation_item_prompt_with_multiple_prompts].png
  tests/wdio/application-navigation/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-navigation-spec/Prompts_Enabled[5__logout_prompt_item_prompt].png
  tests/wdio/application-navigation/__snapshots__/reference/de/chrome_large/application-navigation-spec/Prompts_Enabled[1__primary_navigation_item_prompt].png
  tests/wdio/application-navigation/__snapshots__/reference/de/chrome_large/application-navigation-spec/Prompts_Enabled[4__primary_navigation_item_prompt_with_multiple_prompts].png
  tests/wdio/application-navigation/__snapshots__/reference/de/chrome_large/application-navigation-spec/Prompts_Enabled[5__logout_prompt_item_prompt].png
  tests/wdio/application-navigation/__snapshots__/reference/en/chrome_large/application-navigation-spec/Prompts_Enabled[1__primary_navigation_item_prompt].png
  tests/wdio/application-navigation/__snapshots__/reference/en/chrome_large/application-navigation-spec/Prompts_Enabled[4__primary_navigation_item_prompt_with_multiple_prompts].png
  tests/wdio/application-navigation/__snapshots__/reference/en/chrome_large/application-navigation-spec/Prompts_Enabled[5__logout_prompt_item_prompt].png
  tests/wdio/application-navigation/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-navigation-spec/Prompts_Enabled[1__primary_navigation_item_prompt].png
  tests/wdio/application-navigation/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-navigation-spec/Prompts_Enabled[4__primary_navigation_item_prompt_with_multiple_prompts].png
  tests/wdio/application-navigation/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-navigation-spec/Prompts_Enabled[5__logout_prompt_item_prompt].png
  tests/wdio/application-navigation/application-navigation-spec.js
  tests/wdio/modal-manager/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/modal-manager-spec/ModalManager[2__root_modal-on_close-navigation_prompt].png
  tests/wdio/modal-manager/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/modal-manager-spec/ModalManager[5__nested_modal-on_back-navigation-prompt].png
  tests/wdio/modal-manager/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/modal-manager-spec/ModalManager[7__nest_modal-on_close-navigation_prompt].png
  tests/wdio/modal-manager/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/modal-manager-spec/ModalManager[8__root_modal-on_close-navigation_prompt].png
  tests/wdio/modal-manager/__snapshots__/reference/de/chrome_large/modal-manager-spec/ModalManager[2__root_modal-on_close-navigation_prompt].png
  tests/wdio/modal-manager/__snapshots__/reference/de/chrome_large/modal-manager-spec/ModalManager[5__nested_modal-on_back-navigation-prompt].png
  tests/wdio/modal-manager/__snapshots__/reference/de/chrome_large/modal-manager-spec/ModalManager[7__nest_modal-on_close-navigation_prompt].png
  tests/wdio/modal-manager/__snapshots__/reference/de/chrome_large/modal-manager-spec/ModalManager[8__root_modal-on_close-navigation_prompt].png
  tests/wdio/modal-manager/__snapshots__/reference/en/chrome_large/modal-manager-spec/ModalManager[2__root_modal-on_close-navigation_prompt].png
  tests/wdio/modal-manager/__snapshots__/reference/en/chrome_large/modal-manager-spec/ModalManager[5__nested_modal-on_back-navigation-prompt].png
  tests/wdio/modal-manager/__snapshots__/reference/en/chrome_large/modal-manager-spec/ModalManager[7__nest_modal-on_close-navigation_prompt].png
  tests/wdio/modal-manager/__snapshots__/reference/en/chrome_large/modal-manager-spec/ModalManager[8__root_modal-on_close-navigation_prompt].png
  tests/wdio/modal-manager/__snapshots__/reference/orion-fusion-theme/en/chrome_large/modal-manager-spec/ModalManager[2__root_modal-on_close-navigation_prompt].png
  tests/wdio/modal-manager/__snapshots__/reference/orion-fusion-theme/en/chrome_large/modal-manager-spec/ModalManager[5__nested_modal-on_back-navigation-prompt].png
  tests/wdio/modal-manager/__snapshots__/reference/orion-fusion-theme/en/chrome_large/modal-manager-spec/ModalManager[7__nest_modal-on_close-navigation_prompt].png
  tests/wdio/modal-manager/__snapshots__/reference/orion-fusion-theme/en/chrome_large/modal-manager-spec/ModalManager[8__root_modal-on_close-navigation_prompt].png
  tests/wdio/slide-panel-manager/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-manager-spec/SlidePanelManager[2__root_panel-on_close-navigation_prompt].png
  tests/wdio/slide-panel-manager/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-manager-spec/SlidePanelManager[5__nested_panel-on_back-navigation-prompt].png
  tests/wdio/slide-panel-manager/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-manager-spec/SlidePanelManager[7__nest_panel-on_close-navigation_prompt].png
  tests/wdio/slide-panel-manager/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-manager-spec/SlidePanelManager[8__root_panel-on_close-navigation_prompt].png
  tests/wdio/slide-panel-manager/__snapshots__/reference/de/chrome_large/slide-panel-manager-spec/SlidePanelManager[2__root_panel-on_close-navigation_prompt].png
  tests/wdio/slide-panel-manager/__snapshots__/reference/de/chrome_large/slide-panel-manager-spec/SlidePanelManager[5__nested_panel-on_back-navigation-prompt].png
  tests/wdio/slide-panel-manager/__snapshots__/reference/de/chrome_large/slide-panel-manager-spec/SlidePanelManager[7__nest_panel-on_close-navigation_prompt].png
  tests/wdio/slide-panel-manager/__snapshots__/reference/de/chrome_large/slide-panel-manager-spec/SlidePanelManager[8__root_panel-on_close-navigation_prompt].png
  tests/wdio/slide-panel-manager/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/SlidePanelManager[2__root_panel-on_close-navigation_prompt].png
  tests/wdio/slide-panel-manager/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/SlidePanelManager[5__nested_panel-on_back-navigation-prompt].png
  tests/wdio/slide-panel-manager/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/SlidePanelManager[7__nest_panel-on_close-navigation_prompt].png
  tests/wdio/slide-panel-manager/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/SlidePanelManager[8__root_panel-on_close-navigation_prompt].png
  tests/wdio/slide-panel-manager/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-manager-spec/SlidePanelManager[2__root_panel-on_close-navigation_prompt].png
  tests/wdio/slide-panel-manager/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-manager-spec/SlidePanelManager[5__nested_panel-on_back-navigation-prompt].png
  tests/wdio/slide-panel-manager/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-manager-spec/SlidePanelManager[7__nest_panel-on_close-navigation_prompt].png
  tests/wdio/slide-panel-manager/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-manager-spec/SlidePanelManager[8__root_panel-on_close-navigation_prompt].png
Labels: :package: terra-application, :star: UX Reviewed

#72 ApplicationEventEmitter
  CHANGELOG.md
  package.json
  src/terra-dev-site/app/demo/AppPage.jsx
  src/terra-dev-site/app/demo/EventEmitter.jsx
  src/terra-dev-site/app/how-to.3/use-event-emitter.app.mdx
  src/terra-dev-site/app/utilities.2/EventEmitter.app.mdx
  src/utils/event-emitter/EventEmitter.js
  src/utils/event-emitter/index.js
  tests/jest/utils/event-emitter/EventEmitter.test.jsx
  tests/jest/utils/event-emitter/index.test.js
Labels: :package: terra-application
