Repository cerner/terra-application, pull requests merged in 2020-10, with the labels that each got.

#86 [v2] Initial updates to ApplicationBase
  .travis.yml
  package.json
  src/application-base/ApplicationBase.jsx
  src/application-base/ApplicationBase.module.scss
  tests/jest/application-base/__snapshots__/ApplicationBase.test.jsx.snap
Labels: V2

#98 Remove terra-doc-template dependency
  CHANGELOG.md
  package.json
Labels: :package: terra-application

#99 [v2] remove terra-doc-template dependency for the v2 branch.
  package.json
Labels: :package: terra-application, V2

#102 [V2] Update terra-avatar
  package.json
  src/application-navigation/terra-application-navigation/utility-menu/_UtilityMenuHeaderButton.jsx
  src/application-navigation/terra-application-navigation/utils/propTypes.js
  src/terra-dev-site/app/components.2/ApplicationNavigation.app.mdx
  tests/jest/application-navigation/terra-application-navigation/header/__snapshots__/Header.test.jsx.snap
  tests/jest/application-navigation/terra-application-navigation/utility-menu/__snapshots__/UtilityMenu.test.jsx.snap
  tests/jest/application-navigation/terra-application-navigation/utility-menu/__snapshots__/UtilityMenuHeaderButton.test.jsx.snap
Labels: V2

#107 [v2] Scope terra-application
  README.md
  package.json
  src/terra-dev-site/app/Application.1.app.mdx
  src/terra-dev-site/app/components.2/ApplicationBase.app.mdx
  src/terra-dev-site/app/components.2/ApplicationErrorBoundary.app.mdx
  src/terra-dev-site/app/components.2/ApplicationLoadingOverlay.app.mdx
  src/terra-dev-site/app/components.2/ApplicationLoadingOverlayProvider.app.mdx
  src/terra-dev-site/app/components.2/ApplicationNavigation.app.mdx
  src/terra-dev-site/app/components.2/ApplicationStatusOverlay.app.mdx
  src/terra-dev-site/app/components.2/ApplicationStatusOverlayProvider.app.mdx
  src/terra-dev-site/app/components.2/ModalManager.app.mdx
  src/terra-dev-site/app/components.2/NavigationPrompt.app.mdx
  src/terra-dev-site/app/components.2/NavigationPromptCheckpoint.app.mdx
  src/terra-dev-site/app/components.2/NotificationBanner.mdx
  src/terra-dev-site/app/components.2/SlidePanelManager.app.mdx
  src/terra-dev-site/app/components.2/example/ApplicationBaseExample.jsx
  src/terra-dev-site/app/components.2/example/ApplicationErrorBoundaryExample.jsx
  src/terra-dev-site/app/components.2/example/ApplicationLoadingOverlayExample.jsx
  src/terra-dev-site/app/components.2/example/ApplicationNavigationExample.jsx
  src/terra-dev-site/app/components.2/example/NotificationBannerExample.jsx
  src/terra-dev-site/app/contexts.2/ActiveBreakpointContext.app.mdx
  src/terra-dev-site/app/contexts.2/ApplicationIntlContext.app.mdx
  src/terra-dev-site/app/contexts.2/DisclosureManagerContext.app.mdx
  src/terra-dev-site/app/contexts.2/ThemeContext.app.mdx
  src/terra-dev-site/app/contexts.2/example/ThemedComponent.jsx
  src/terra-dev-site/app/demo/AppPage.jsx
  src/terra-dev-site/app/demo/DemoAppIndex.jsx
  src/terra-dev-site/app/demo/DemoAppNavigation.jsx
  src/terra-dev-site/app/demo/EventEmitter.jsx
  src/terra-dev-site/app/demo/LoadingOverlayPresenter.jsx
  src/terra-dev-site/app/demo/ModalPresenter.jsx
  src/terra-dev-site/app/demo/PendingActionToggle.jsx
  src/terra-dev-site/app/demo/StatusOverlayPresenter.jsx
  src/terra-dev-site/app/how-to.3/change-application-theme.app.mdx
  src/terra-dev-site/app/how-to.3/manage-unsaved-changes.app.mdx
  src/terra-dev-site/app/how-to.3/show-loading-overlays.app.mdx
  src/terra-dev-site/app/how-to.3/show-modal-content.app.mdx
  src/terra-dev-site/app/how-to.3/show-status-overlays.app.mdx
  src/terra-dev-site/app/how-to.3/use-active-breakpoint.app.mdx
  src/terra-dev-site/app/how-to.3/use-event-emitter.app.mdx
  src/terra-dev-site/app/how-to.3/use-translated-strings.app.mdx
  src/terra-dev-site/app/utilities.2/Breakpoints.app.mdx
  src/terra-dev-site/app/utilities.2/EventEmitter.app.mdx
  src/terra-dev-site/app/utilities.2/Logger.app.mdx
  src/terra-dev-site/guide/example/ExampleComponent.jsx
  src/terra-dev-site/guide/theme-strategy.guide.mdx
  tests/wdio/application-base/application-base-spec.js
  tests/wdio/application-base/private/test-overrides-spec.js
  tests/wdio/application-error-boundary/application-error-boundary-spec.js
  tests/wdio/application-loading-overlay/application-loading-overlay-spec.js
  tests/wdio/application-navigation/application-navigation-spec.js
  tests/wdio/application-status-overlay/application-status-overlay-spec.js
  tests/wdio/modal-manager/modal-manager-spec.js
  tests/wdio/notification-banner/notification-banner-spec.js
  tests/wdio/slide-panel-manager/slide-panel-manager-spec.js
Labels: :package: terra-application, V2

#106 [V2] Application navigation theme
  src/application-navigation/terra-application-navigation/ApplicationNavigation.jsx
  src/application-navigation/terra-application-navigation/ApplicationNavigation.module.scss
  src/application-navigation/terra-application-navigation/clinical-lowlight-theme/ApplicationNavigation.module.scss
  src/application-navigation/terra-application-navigation/clinical-lowlight-theme/DrawerMenuCommon.module.scss
  src/application-navigation/terra-application-navigation/clinical-lowlight-theme/ExtensionsCommon.module.scss
  src/application-navigation/terra-application-navigation/clinical-lowlight-theme/HeaderCommon.module.scss
  src/application-navigation/terra-application-navigation/clinical-lowlight-theme/PopupCommon.module.scss
  src/application-navigation/terra-application-navigation/clinical-lowlight-theme/TabsCommon.module.scss
  src/application-navigation/terra-application-navigation/clinical-lowlight-theme/UtilityMenuCommon.module.scss
  src/application-navigation/terra-application-navigation/common/PopupCount.module.scss
  src/application-navigation/terra-application-navigation/common/PopupMenu.module.scss
  src/application-navigation/terra-application-navigation/common/PopupMenuListItem.module.scss
  src/application-navigation/terra-application-navigation/common/PopupMenuUser.module.scss
  src/application-navigation/terra-application-navigation/drawer-menu/DrawerCount.module.scss
  src/application-navigation/terra-application-navigation/drawer-menu/DrawerMenu.module.scss
  src/application-navigation/terra-application-navigation/drawer-menu/DrawerMenuFooterButton.module.scss
  src/application-navigation/terra-application-navigation/drawer-menu/DrawerMenuListItem.module.scss
  src/application-navigation/terra-application-navigation/drawer-menu/DrawerMenuTitle.module.scss
  src/application-navigation/terra-application-navigation/drawer-menu/DrawerMenuUser.module.scss
  src/application-navigation/terra-application-navigation/extensions/Extension.module.scss
  src/application-navigation/terra-application-navigation/extensions/ExtensionCount.module.scss
  src/application-navigation/terra-application-navigation/extensions/ExtensionRollup.module.scss
  src/application-navigation/terra-application-navigation/header/CompactHeader.module.scss
  src/application-navigation/terra-application-navigation/header/Header.module.scss
  src/application-navigation/terra-application-navigation/header/ToggleCount.module.scss
  src/application-navigation/terra-application-navigation/orion-fusion-theme/ApplicationNavigation.module.scss
  src/application-navigation/terra-application-navigation/orion-fusion-theme/DrawerMenuCommon.module.scss
  src/application-navigation/terra-application-navigation/orion-fusion-theme/ExtensionsCommon.module.scss
  src/application-navigation/terra-application-navigation/orion-fusion-theme/HeaderCommon.module.scss
  src/application-navigation/terra-application-navigation/orion-fusion-theme/PopupCommon.module.scss
  src/application-navigation/terra-application-navigation/orion-fusion-theme/TabsCommon.module.scss
  src/application-navigation/terra-application-navigation/orion-fusion-theme/UtilityMenuCommon.module.scss
  src/application-navigation/terra-application-navigation/tabs/Tab.module.scss
  src/application-navigation/terra-application-navigation/tabs/TabCount.module.scss
  src/application-navigation/terra-application-navigation/utility-menu/UtilityMenuHeaderButton.module.scss
  tests/jest/application-navigation/terra-application-navigation/ApplicationNavigation.test.jsx
  tests/jest/application-navigation/terra-application-navigation/__snapshots__/ApplicationNavigation.test.jsx.snap
Labels: :package: terra-application, V2

#104 [terra-application] Added mutation observer shim to better support inert in IE10.
  CHANGELOG.md
  package.json
  src/application-base/private/initializeInert.js
  src/utils/polyfills/_contains-polyfill.js
  src/utils/polyfills/_matches-polyfill.js
Labels: Hacktoberfest-Accepted, bug-fix
