Repository cerner/terra-application, pull requests merged in 2020-09, with the labels that each got.

#73 [terra-application] Reads out error boundary message
  CHANGELOG.md
  src/application-error-boundary/ApplicationErrorBoundary.jsx
  tests/jest/application-error-boundary/__snapshots__/ApplicationErrorBoundary.test.jsx.snap
Labels: :star: Accessibility Reviewed, :star: UX Reviewed, bug-fix

#80 Setup publishing via travis-ci
  .travis.yml
  RELEASE.md
  package.json
  scripts/changelog-updater/index.js
  scripts/release/release.js
Labels: :package: terra-application

#83 [terra-application-v2] Build the terra-application-v2 branch
  .travis.yml
Labels: V2

#89 Fix CSP unsafe-inline violation.
  CHANGELOG.md
  CONTRIBUTORS.md
  src/application-base/ApplicationBase.jsx
  src/application-base/private/inertStyles.scss
  src/application-base/private/initializeInert.js
Labels: :package: terra-application, bug-fix

#92 [V2] Merge main into v2
  CHANGELOG.md
  CONTRIBUTORS.md
  package.json
  src/application-base/ApplicationBase.jsx
  src/application-base/private/inertStyles.scss
  src/application-base/private/initializeInert.js
  src/terra-dev-site/app/components.2/ApplicationBase.app.mdx
  tests/jest/application-error-boundary/__snapshots__/ApplicationErrorBoundary.test.jsx.snap
Labels: V2

#95 Opt into throwing error if intl data fails to load
  CHANGELOG.md
  src/application-base/ApplicationBase.jsx
  tests/jest/application-base/__snapshots__/ApplicationBase.test.jsx.snap
Labels: :package: terra-application
