Repository cerner/terra-application, pull requests merged in 2021-04, with the labels that each got.

#177 [terra-application-v2] Upgrade to node 12
  .nvmrc
  package.json
Labels: :package: terra-application, V2

#181 [terra-application-v2] Consume Webpack 5
  .travis.yml
  package.json
Labels: :package: terra-application, V2

#178 [terra-application-v2] Consume Jest config terra
  jest.config.js
  jest.enzymeSetup.js
  jestconfig.js
  package.json
  src/application-base/private/translationsLoaders.js
  src/application-navigation/terra-application-navigation/ApplicationNavigation.jsx
  tests/jest/application-base/private/i18nLoader.test.js
  tests/jest/application-base/private/translationsLoaders.test.js
  tests/jest/application-container/ApplicationContainer.test.jsx
  tests/jest/application-container/ApplicationContainerErrorBoundary.test.jsx
  tests/jest/application-navigation/terra-application-navigation/__snapshots__/ApplicationNavigation.test.jsx.snap
  tests/jest/shared/ErrorBoundaryBase.test.jsx
Labels: :package: terra-application, V2

#168 Add fallback locale incase the regional locale is unsupported
  CHANGELOG.md
  src/application-base/private/getBrowserLocale.js
  tests/jest/application-base/private/getBrowserLocale.test.js
Labels: :package: terra-application, Feature

#185 Add session context.
  CHANGELOG.md
  src/session/SessionContext.jsx
Labels: :package: terra-application

#187 Updating ApplicationBase for v2 architecture
  CHANGELOG.md
  src/application-base/ApplicationBase.jsx
  src/application-base/baseStyles.js
  src/application-base/private/getBrowserLocale.js
  src/utils/polyfills/_contains-polyfill.js
  src/utils/polyfills/_matches-polyfill.js
  tests/jest/MockApplication.jsx
  tests/jest/application-base/ApplicationBase.test.jsx
  tests/jest/application-base/__snapshots__/ApplicationBase.test.jsx.snap
Labels: :package: terra-application, V2

#191 Adding SkipToLink component w/ ApplicationContainer integration
  CHANGELOG.md
  src/application-base/clinical-lowlight-theme/Base.scss
  src/application-container/ApplicationContainer.jsx
  src/application-container/private/skip-to-links/SkipToLink.jsx
  src/application-container/private/skip-to-links/SkipToLink.module.scss
  src/application-container/private/skip-to-links/SkipToLinksContext.jsx
  src/application-container/private/skip-to-links/clinical-lowlight-theme/SkipToLink.module.scss
  src/application-container/private/skip-to-links/orion-fusion-theme/SkipToLink.module.scss
  src/application-container/private/skip-to-links/useSkipToLinks.jsx
  src/terra-dev-site/test/application-container/SkipToLinks.test.jsx
  tests/jest/application-container/ApplicationContainer.test.jsx
  tests/jest/application-container/SkipToLink.test.jsx
  tests/wdio/application-container/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/skip-to-links-spec/1__initial_rendering.png
  tests/wdio/application-container/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/skip-to-links-spec/2__content_link_visible.png
  tests/wdio/application-container/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/skip-to-links-spec/3__focus_set_to_content_region.png
  tests/wdio/application-container/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/skip-to-links-spec/4__other_link_visible.png
  tests/wdio/application-container/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/skip-to-links-spec/5__focus_set_to_content_region.png
  tests/wdio/application-container/__snapshots__/reference/orion-fusion-theme/en/chrome_large/skip-to-links-spec/1__initial_rendering.png
  tests/wdio/application-container/__snapshots__/reference/orion-fusion-theme/en/chrome_large/skip-to-links-spec/2__content_link_visible.png
  tests/wdio/application-container/__snapshots__/reference/orion-fusion-theme/en/chrome_large/skip-to-links-spec/3__focus_set_to_content_region.png
  tests/wdio/application-container/__snapshots__/reference/orion-fusion-theme/en/chrome_large/skip-to-links-spec/4__other_link_visible.png
  tests/wdio/application-container/__snapshots__/reference/orion-fusion-theme/en/chrome_large/skip-to-links-spec/5__focus_set_to_content_region.png
  tests/wdio/application-container/__snapshots__/reference/terra-default-theme/de/chrome_large/skip-to-links-spec/1__initial_rendering.png
  tests/wdio/application-container/__snapshots__/reference/terra-default-theme/de/chrome_large/skip-to-links-spec/2__content_link_visible.png
  tests/wdio/application-container/__snapshots__/reference/terra-default-theme/de/chrome_large/skip-to-links-spec/3__focus_set_to_content_region.png
  tests/wdio/application-container/__snapshots__/reference/terra-default-theme/de/chrome_large/skip-to-links-spec/4__other_link_visible.png
  tests/wdio/application-container/__snapshots__/reference/terra-default-theme/de/chrome_large/skip-to-links-spec/5__focus_set_to_content_region.png
  tests/wdio/application-container/__snapshots__/reference/terra-default-theme/en/chrome_large/skip-to-links-spec/1__initial_rendering.png
  tests/wdio/application-container/__snapshots__/reference/terra-default-theme/en/chrome_large/skip-to-links-spec/2__content_link_visible.png
  tests/wdio/application-container/__snapshots__/reference/terra-default-theme/en/chrome_large/skip-to-links-spec/3__focus_set_to_content_region.png
  tests/wdio/application-container/__snapshots__/reference/terra-default-theme/en/chrome_large/skip-to-links-spec/4__other_link_visible.png
  tests/wdio/application-container/__snapshots__/reference/terra-default-theme/en/chrome_large/skip-to-links-spec/5__focus_set_to_content_region.png
  tests/wdio/application-container/skip-to-links-spec.js
  tests/wdio/test-harness/index.jsx
  translations/en-US.json
  translations/en.json
Labels: :package: terra-application, V2
