Repository cerner/terra-application, pull requests merged in 2021-06, with the labels that each got.

#217 [terra-application] Port workspace to primary
  packages/terra-application-docs/src/terra-dev-site/test/terra-application/primary-navigation-layout/PrimaryNavigationLayout5.jsx
  packages/terra-application-docs/src/terra-dev-site/test/terra-dev-site/workspace/NavigationTestPage.jsx
  packages/terra-application-docs/src/terra-dev-site/test/terra-dev-site/workspace/PrimaryNavigationWorkspace.test.jsx
  packages/terra-application/CHANGELOG.md
  packages/terra-application/package.json
  packages/terra-application/src/primary-navigation-layout/PrimaryNavigationLayout.jsx
  packages/terra-application/src/primary-navigation-layout/workspace-layout/PrimaryNavigationWorkspace.jsx
  packages/terra-application/src/primary-navigation-layout/workspace-layout/PrimaryNavigationWorkspaceItem.jsx
  packages/terra-application/src/primary-navigation-layout/workspace-layout/ResizeHandle.jsx
  packages/terra-application/src/primary-navigation-layout/workspace-layout/ResizeHandle.module.scss
  packages/terra-application/src/primary-navigation-layout/workspace-layout/WorkspaceLayout.jsx
  packages/terra-application/src/primary-navigation-layout/workspace-layout/WorkspaceLayout.module.scss
  packages/terra-application/src/primary-navigation-layout/workspace-layout/clinical-lowlight-theme/ResizeHandle.module.scss
  packages/terra-application/src/primary-navigation-layout/workspace-layout/clinical-lowlight-theme/WorkspaceLayout.module.scss
  packages/terra-application/src/primary-navigation-layout/workspace-layout/orion-fusion-theme/ResizeHandle.module.scss
  packages/terra-application/src/primary-navigation-layout/workspace-layout/orion-fusion-theme/WorkspaceLayout.module.scss
  packages/terra-application/src/shared/usePortalManager.jsx
  packages/terra-application/src/workspace/WorkspaceItem.jsx
  packages/terra-application/tests/jest/primary-navigation-layout/workspace-layout/PrimaryNavigationWorkspace.test.jsx
  packages/terra-application/tests/jest/primary-navigation-layout/workspace-layout/ResizeHandle.test.jsx
  packages/terra-application/tests/jest/primary-navigation-layout/workspace-layout/WorkspaceLayout.test.jsx
  packages/terra-application/translations/en-US.json
  packages/terra-application/translations/en.json
  tests/test-harness/index.jsx
Labels: :package: terra-application

#226 [terra-application-v2] Update Export patterns
  packages/terra-application-docs/src/terra-dev-site/test/terra-application/primary-navigation-layout/PrimaryNavigationLayout5.jsx
  packages/terra-application-docs/src/terra-dev-site/test/terra-application/workspace/OverlayWorkspace.jsx
  packages/terra-application-docs/src/terra-dev-site/test/terra-application/workspace/Tab1.jsx
  packages/terra-application-docs/src/terra-dev-site/test/terra-application/workspace/Tab2.jsx
  packages/terra-application-docs/src/terra-dev-site/test/terra-application/workspace/Tab3.jsx
  packages/terra-application-docs/src/terra-dev-site/test/terra-application/workspace/Tab4.jsx
  packages/terra-application-docs/src/terra-dev-site/test/terra-application/workspace/Tab5.jsx
  packages/terra-application-docs/src/terra-dev-site/test/terra-application/workspace/Tab6.jsx
  packages/terra-application-docs/src/terra-dev-site/test/terra-application/workspace/Workspace.jsx
  packages/terra-application/src/primary-navigation-layout/PrimaryNavigationLayout.jsx
  packages/terra-application/src/primary-navigation-layout/workspace-layout/PrimaryNavigationWorkspace.jsx
  packages/terra-application/src/workspace/Workspace.jsx
  packages/terra-application/src/workspace/WorkspaceContent.jsx
  packages/terra-application/src/workspace/overlays/WorkspaceContentStatusOverlay.jsx
Labels: :package: terra-application, :package: terra-application-docs, V2

#229 Introducing LayerManager and related files
  packages/terra-application/CHANGELOG.md
  packages/terra-application/src/application-container/ApplicationContainer.jsx
  packages/terra-application/src/layer-manager/LayerIdentifierContext.jsx
  packages/terra-application/src/layer-manager/LayerManager.module.scss
  packages/terra-application/src/layer-manager/LayerManagerContext.jsx
  packages/terra-application/src/layer-manager/RootLayerContainer.jsx
  packages/terra-application/src/layer-manager/RootLayerContainer.module.scss
  packages/terra-application/src/layer-manager/useLayerManager.jsx
  packages/terra-application/src/layer-manager/useLayerPortal.jsx
  packages/terra-application/src/page-container/usePageManager.jsx
  packages/terra-application/tests/jest/MockLayer.jsx
  packages/terra-application/tests/jest/layer-manager/RootLayerContainer.test.jsx
  packages/terra-application/tests/jest/layer-manager/__snapshots__/RootLayerContainer.test.jsx.snap
Labels: :package: terra-application, V2

#231 [workspace-v1-epic] Introduce ApplicationNavigationActionsContext
  CHANGELOG.md
  src/application-navigation/ApplicationNavigationActionsContext.js
Labels: :package: terra-application
