Repository cerner/terra-application, pull requests merged in 2023-09, with the labels that each got.

#354 Locale fix for IE v1
  packages/terra-application/CHANGELOG.md
  packages/terra-application/src/application-base/private/getBrowserLocale.js
Labels: bug-fix, :package: terra-application, terra-application-v1

#356 Release Sep 8th
  packages/terra-application-docs/CHANGELOG.md
  packages/terra-application-docs/package.json
  packages/terra-application/CHANGELOG.md
  packages/terra-application/package.json
  packages/terra-dev-site/CHANGELOG.md
  packages/terra-dev-site/package.json
Labels: terra-application-v1, release

#355 [Application-Base] Added prop to remove scroll from powerchart
  packages/terra-application/CHANGELOG.md
  packages/terra-application/src/application-base/ApplicationBase.jsx
  packages/terra-application/src/application-loading-overlay/ApplicationLoadingOverlayProvider.jsx
  packages/terra-application/src/application-loading-overlay/ApplicationLoadingOverlayProvider.module.scss
  packages/terra-application/src/application-status-overlay/ApplicationStatusOverlayProvider.jsx
  packages/terra-application/src/application-status-overlay/ApplicationStatusOverlayProvider.module.scss
  packages/terra-application/tests/jest/application-base/ApplicationBase.test.jsx
  packages/terra-application/tests/jest/application-base/__snapshots__/ApplicationBase.test.jsx.snap
  packages/terra-application/tests/jest/application-loading-overlay/ApplicationLoadingOverlayProvider.test.jsx
  packages/terra-application/tests/jest/application-loading-overlay/__snapshots__/ApplicationLoadingOverlayProvider.test.jsx.snap
  packages/terra-application/tests/jest/application-status-overlay/ApplicationStatusOverlayProvider.test.jsx
  packages/terra-application/tests/jest/application-status-overlay/__snapshots__/ApplicationStatusOverlayProvider.test.jsx.snap
Labels: :package: terra-application

#358 [Application-Base] Added prop to remove scroll from powerchart
  packages/terra-application/CHANGELOG.md
  packages/terra-application/src/application-base/ApplicationBase.jsx
  packages/terra-application/src/application-loading-overlay/ApplicationLoadingOverlayProvider.jsx
  packages/terra-application/src/application-loading-overlay/ApplicationLoadingOverlayProvider.module.scss
  packages/terra-application/src/application-status-overlay/ApplicationStatusOverlayProvider.jsx
  packages/terra-application/src/application-status-overlay/ApplicationStatusOverlayProvider.module.scss
  packages/terra-application/tests/jest/application-base/ApplicationBase.test.jsx
  packages/terra-application/tests/jest/application-base/__snapshots__/ApplicationBase.test.jsx.snap
  packages/terra-application/tests/jest/application-loading-overlay/ApplicationLoadingOverlayProvider.test.jsx
  packages/terra-application/tests/jest/application-loading-overlay/__snapshots__/ApplicationLoadingOverlayProvider.test.jsx.snap
  packages/terra-application/tests/jest/application-status-overlay/ApplicationStatusOverlayProvider.test.jsx
  packages/terra-application/tests/jest/application-status-overlay/__snapshots__/ApplicationStatusOverlayProvider.test.jsx.snap
Labels: :package: terra-application

#357 Release 19/09
  packages/terra-application-docs/CHANGELOG.md
  packages/terra-application-docs/package.json
  packages/terra-application/CHANGELOG.md
  packages/terra-application/package.json
  packages/terra-dev-site/CHANGELOG.md
  packages/terra-dev-site/package.json
Labels: release
